<div class="row">
    <h2><font face="Times New Roman">PROYECTOS</font></h2>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h4>Próximos Proyectos:</h4>
                <p>PORTAFOLIOS - CV Digitales Personalizados</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/encriptador.png" class="img-fluid img-proyecto" >
            </div>
        </div>
    </div>
</div>
