.gradient-custom {
    /* fallback for old browsers */
    background: #d1c51b9c;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 128, 12), rgba(255, 255, 0, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255, 128, 12, 0.87), rgb(255, 255, 0))
    }