<div class="row">
   
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <h4><p>FULL STACK Developer Jr</p></h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <font face="Cambria"><h1>SOBRE MÍ</h1></font>
            <p> <strong><em>Estudio administración y me apasiona combinar mis habilidades de computación con mi formación en gestión. Busco constantemente oportunidades para aprender y crecer, adaptándome a los entornos digitales en evolución y tomando decisiones basadas en datos. Mi enfoque en la búsqueda de soluciones innovadoras dentro de cualquier equipo me impulsa a superarme. </em></strong></p>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <img src="../../../assets/perfilPhoto.jpg" class="img-fluid" id="fotodeperfil">
    </div>
        </span>
    </div>
</div> 