<div class="row">
    <div class="container">
        <div class="redes">
            <a href="https://github.com/MelissaSanguine"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/feed/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://imgur.com/IQ4I8Mm"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://www.instagram.com/atelier_sanguine/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://www.facebook.com/melissa.sanguine.5/"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn btn-success" (click)="login()" *ngIf="!isLogged">ENTRAR</button>
            <button type="button" class="btn btn btn-danger" (click)="onLogOut()" *ngIf="isLogged">CERRAR</button>
        </div>
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP">
        </div>
        
    </div>
</div>

